* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

nav ul li {
    padding: 20px;
    text-align: center;
    width: 100%;
}

nav ul li a {
    color: rgb(94, 93, 93);
    margin-right: 35px;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(96, 0, 128);
    font-size: 15px;
    transition: 0.7s;
}

nav > a {
    margin-left: 35px;
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
}
