* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

nav ul li {
    padding: 20px;
    text-align: center;
    width: 100%;
}

nav ul li a {
    color: rgb(94, 93, 93);
    margin-right: 20px;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(96, 0, 128);
    font-size: 15px;
    transition: 0.7s;
}

nav ul li button {
    height: 50px;
    font-size: 17px;
    color: white;
    background-color: rgb(96, 0, 128);
    border: 0;
    border-radius: 10px;
}

nav ul li button:hover {
    background-color: black;
    color: rgb(96, 0, 128);
    font-size: 15px;
    transition: 0.7s;
    cursor: pointer;
}

nav > a {
    margin-left: 35px;
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
}

header .h2-container {
    margin-left: 5%;
}

header .h2-container h2 {
    font-size: 40px;
    color: rgb(96, 0, 128);
}

header .about {
    margin: 1% 0 2% 5%;
}

header .about p {
    margin-bottom: 2%;
    color: rgb(94, 93, 93);
    width: 50%;
}

header .about button {
    width: 10%;
    height: 40px;
    background-color: rgb(96, 0, 128);
    color: white;
    border-radius: 15px;
    border: 0;
}

header button:hover {
    color: rgb(96, 0, 128);
    background-color: black;
    font-size: 15px;
    cursor: pointer;
    transition: 0.7s;
}

header .img-container {
    width: 25%;
    margin-left: 60%;
    border: 2px solid black;
}

header .img-container img {
    width: 100%;
}
